.vscode
.idea

# build
config.h
config.h.in
config.log
config.nice
config.status
configure
configure.ac
libtool
Makefile
Makefile.fragments
Makefile.objects
run-tests.php
yasd.la
*.lo
.libs
autom4te.cache
build
modules
Makefile.global
acinclude.m4
aclocal.m4
config.guess
config.sub
install-sh
ltmain.sh
missing
mkinstalldirs

# debug
debug
vendor
.breakpoints_file.*
